/* Layar Tancap */
/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
}
/* handphone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
}
